*{
    transition: 2s;
}

body{
    background: grey;
    background-image: url(https://unsplash.com/photos/0sPKk1YWmBc/download);
}

.row{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.column{
    background: rgba(255, 255, 255, .2);
    width: 150px;
    height: 150px;
    margin: 20px;

}

#bio .column:hover{
    width: 5%;
    background-color: orange;
}

.column:hover{
    transform: rotate(90deg);
    background: white

}

#bio .column:hover{
    transform: rotateY(90)
}